body {
    font: 14px "Century Gothic", Futura, sans-serif;
  
    background-image: url("https://img.freepik.com/free-vector/cloud-sticker-clipart-vector-set-flat-design_53876-140219.jpg?w=1060&t=st=1674768774~exp=1674769374~hmac=3d518e838253b67fefc28818c1ebffc2214e17bc3b7fab103082a2ecedc94f6f");
    
  }
  
  ol, ul {
    padding-left: 30px;
    font-size: 30px;
  }

  .header-banner {
    font-size:30px;
    text-align: center;    
  }

  .side-info {
    font-size:70px;

  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 6px solid rgb(0, 0, 0);
    float: left;
    font-size: 60px;
    font-weight: bold;
    line-height: 34px;
    height: 150px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 150px;
    
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: rgb(221, 221, 221);
  }
  
  .game {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    
  }
  
  .game-info {
    margin-left: 20px;
    
  }
  
  